__pycache__/logger.cpython-35.pyc
__pycache__/visualize.cpython-35.pyc

.ipynb_checkpoints/
model_parameters/
latest_generated_clip.wav
logs/
snapshots/
tests/test_model.py
train_samples/
/tests/logs/
/notebooks/
/notebooks/audio_normalizer.maxpat
/notebooks/SELU.ggb
/generated_samples/
demo.ipynb
profiling.ipynb
profiling/latest_trace.json
__pycache__/
.idea/workspace.xml
.ipynb_checkpoints/demo-checkpoint.ipynb
.DS_Store
__pycache__/wavenet_training.cpython-35.pyc
__pycache__/wavenet_modules.cpython-35.pyc
tests/.DS_Store
train_samples/.DS_Store
.idea/workspace.xml
