#.ipynb_checkpoints/
#__pycache__/
#.idea
_generated_samples/
_train_samples/
logs/
notebooks/
profiling/
snapshots/
tests/test_model.py
tests/logs/
!/generated_samples/chaconne_temp_1,0.mp3
!/generated_samples/chaconne_temp_0,8.mp3
!/generated_samples/chaconne_temp_0,5.mp3
!/snapshots/chaconne_model_2017-12-28_16-44-12
