__pycache__/logger.cpython-35.pyc
__pycache__/visualize.cpython-35.pyc

.ipynb_checkpoints/
model_parameters/
foo.py
latest_generated_clip.wav
logs/
snapshots/
tests/test_model.py
train_samples/
/tests/logs/
/notebooks/
/notebooks/audio_normalizer.maxpat
/notebooks/SELU.ggb
/generated_samples/
